/* line 1, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
* {
  margin: 0;
  box-sizing: border-box;
}

/* line 6, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.intro-div {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* line 11, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.line-one {
  font-size: 1.5rem;
  text-shadow: 1.5px 1.5px #a571de;
  padding: 10px;
}

/* line 17, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.line-two {
  font-size: 1.4rem;
  text-shadow: 1.5px 1.5px #a571de;
  padding: 10px;
}

/* line 22, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.data-head {
  padding-top: 10px;
  text-decoration: none;
  color: #fff;
}

/* line 26, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.data-head:hover, .data-head:focus-within {
  color: #d4beeb;
  border-bottom: 1px #d4beeb solid;
  transition: color 0.3s ease-in-out;
  transition: border-bottom 0.2s ease-in-out;
}

/* line 35, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.search-results {
  display: flex;
  width: 80%;
  padding-bottom: 10px;
}

/* line 41, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.gradient-border {
  width: 90%;
  padding: 1rem;
  color: white;
  border-width: 3px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #d4beeb, rgba(0, 0, 0, 0)) 1 100%;
}

/* line 55, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
#show-on-search {
  color: #fff;
  font-family: 'Literata', serif;
  display: none;
  width: 100%;
}

/* line 62, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
h2 {
  margin-top: 10px;
}

/* line 66, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
#artist-but-sad {
  color: rgba(201, 206, 214, 0.8);
  font-size: 0.5rem;
}

/* line 70, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.underline {
  border-color: rgba(201, 206, 214, 0.5);
  margin-top: 5px;
  margin-bottom: 25px;
}

/* line 75, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: linear-gradient(#333, #222, #111) no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
}

/* line 85, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* line 92, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.search-input {
  margin-bottom: 10px;
  font-family: sans-serif;
  font-size: 1rem;
  outline: none;
  width: 100%;
  padding: 15px 25px 15px 50px;
  border: none;
  border-radius: 15px;
  background-image: url("https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png") !important;
  background-repeat: no-repeat;
  background-size: 40px;
}

/* line 106, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.detail-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

/* line 113, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.list-item {
  color: #FFF;
  margin: auto;
  padding-right: 10px;
}

/* line 119, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
#img-clicky {
  border-radius: 15px;
  filter: drop-shadow(3px 3px 4px #333);
}

/* line 125, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.song-img:hover, .song-img:focus-within {
  transition: opacity 0.2s ease-in-out;
  opacity: 0.4;
}

/* line 129, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.song-img:hover:active, .song-img:focus-within:active {
  opacity: 0.4;
}

/* line 134, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
#title {
  font-size: .8rem;
  display: block;
  margin-top: 5%;
}

/* line 140, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.music {
  display: flex;
}

/* line 144, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
#artist {
  display: block;
  margin-top: 5%;
}

/* line 149, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.block {
  display: block;
}

/* line 153, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.audio-player-container {
  display: none;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  margin-top: 3%;
  height: 40px;
  justify-content: space-around;
}

/* line 162, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.audio-player-container button {
  outline: none;
  font-size: 1rem;
  position: relative;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
  background-color: transparent;
  border: 1px transparent solid;
  text-decoration: none;
}

/* line 173, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.audio-player-container button:hover, .audio-player-container button:focus-within {
  color: #d4beeb;
  border: 1px #d4beeb solid;
  border-radius: 50%;
}

/* line 180, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.audio-player-container button:hover:active, .audio-player-container button:focus-within:active {
  color: #d4beeb;
}

/* line 188, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.all-access {
  clip-path: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
}

/* line 196, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
progress {
  width: 50%;
  margin-top: 20px;
}

/* line 200, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
progress[value] {
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  color: #a571de;
  height: 5px;
}

/* line 207, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
progress[value]::-webkit-progress-bar {
  background-color: white;
  border-radius: 2px;
  color: #a571de;
}

/* line 212, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
progress::-webkit-progress-value {
  background-color: #a571de;
}

/* line 216, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
.time-stamp {
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding-top: 15px;
}

@media (max-width: 768px) and (orientation: portrait) {
  /* line 223, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
  .search-results {
    flex-wrap: wrap;
  }
  /* line 227, ../../../../../../../../../../../../../Users/bkoval/workspace/itunes-search/scss/styles.scss */
  .gradient-border {
    width: 80%;
  }
}

/*# sourceMappingURL=styles.css.map */